<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Greeting</title>
</head>
<body>
    <form action="greet" method="post">
        <img src="../static/Logo.PNG" alt="Logo" width="200px"><br>
        {% for message in get_flashed_messages() %}
            <label for="name">{{ message }}</label><br>
        {% endfor %}
        
        <input type="text" name="name" id="name"><br><br>
        <input type="submit" value="greet" id="greet">
    </form>
</body>
</html>